.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  animation: Photo 500ms ease-in;
}

@keyframes Photo {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
  50%, 75% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.name {
  text-align: center;
  animation: Name 750ms ease-in;
}

@keyframes Name {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
  50%, 75% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.description {
  max-width: 75%;
  text-align: center;
  margin-top: 1rem;
  animation: Description 1s ease-in;
}

@keyframes Description {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  50%, 75% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}