.nav {
  height: 50px;
  max-width: 100%;
  background-color: var(--bg-accent);
  animation: Nav 100ms ease-out;
}

@keyframes Nav {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item {
  padding: 0.8rem;
  max-height: 100%;
  transition: all 230ms ease-in-out;
  animation-name: Item;
  animation-timing-function: ease-out;
  border-bottom: 2px solid var(--bg-accent);
}

.item:hover {
  background-color: var(--gray);
  border-bottom: 2px solid var(--green);
}

.item:nth-child(1) {
  animation-duration: 1s;
}

.item:nth-child(2) {
  animation-duration: 700ms;
}

.item:nth-child(3) {
  animation-duration: 500ms;
}

.item:nth-child(4) {
  animation-duration: 300ms;
}

@keyframes Item {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  50%,
  75% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.active {
  border-bottom: 2px solid var(--gray);
  filter: brightness(-0.5);
}
